# cargo
/target

# dotenv
/.env

# client
syndicode-client.log
/client_config.toml

# server
/server_config.toml

# playwright outputs
syndicode-web/playwright-report/
syndicode-web/mobile-screenshots/
/test-results/
